/** Custom preflight to prevent MUI Button background 
  * to be overridden by Tailwind CSS default preflight
  */
@import url("./preflight.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change the default style values of html tags */
@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  p {
    @apply leading-relaxed text-lg;
  }
}

/* Style component classes here*/
@layer components {
  /* Adjust side padding of the main container here */
  .section-px {
    @apply px-[20px] md:px-[60px] lg:px-[100px];
  }

  .scrollbar {
    overflow: overlay;
  }

  .scrollbar::-webkit-scrollbar {
    display: block;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
  }
}

html,
body {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 10px;
  background: none;
  margin: 10px;
}

*::-webkit-scrollbar-track {
  padding: 10px;
  @apply bg-gray-200;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}
